h1 {
  color: #AD8B73;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 2;
}

h2 {
  color: #FF6464;
  margin-top: 0;
  font-size: 40px;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-size: 25px;
}

.din {
  font-size: 32px;
  color: #AD8B73
}

.bolu {
  text-decoration: underline;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Comic Sans MS',Helvetica, sans-serif;
}

.arriba {
  background-color: #00FFDD;
  position: relative;
  padding-top: 65px;
}


.prinube {
  position: absolute;
  right: 350px;
  top: 50px;
}

.segnube {
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.fotoperf {
  border-radius: 100%;
}

.webcod {
  border-radius: 100%;
}
